01-hello
02-conditions
03-loops
04-fizzbuzz
05-uppercase-hello
arithmetic
stack-ops
*.o
*.dot
*.svg
stacky
run-tests
stdlib-symbols.cc
enum-names.cc
*.zig
*.asm
*.out
*.ccls-cache
.stderr
.stdout
signals.c
.cache/
examples/advent-of-code-2021/1a
examples/advent-of-code-2021/1b
examples/date
examples/fibonacci
examples/fizzbuzz
examples/hello
examples/nyancat
examples/print-from-0-to-10
examples/print-uppercase-hello
examples/project-euler/01
examples/project-euler/02
examples/project-euler/03
examples/project-euler/05
examples/project-euler/08
examples/rot13
examples/rule110
examples/sorting
examples/stdio
examples/switch
examples/truth-machine
examples/args
examples/counter
tests/functions
tests/integers
tests/memory
tests/strings
compile_commands.json
